{% extends 'meetups/base/base.html'%}

{%load static%}

{% block title %} {{meetup_title}} {% endblock %}

{% block site_css %}
    <link rel="stylesheet" href=" {% static  'styles/meetup_detail.css' %}  ">
{% endblock %}

{% block body%}
        <article>
            <img src="" alt="" id="main_image">
            <section id="location">
                <h2>Meetup Location</h2>
                <address> This meetup takes place in <span>LOCATION</span>(ADDRESS)</address>
            </section>

            <section id="details">
                <h2>Whats this meetups about?</h2>
                <p> {{ meetup_description}}</p>

                <footer>
                    <p>need more details? please <a href="">contactt us</a></p>
                </footer>
            </section>

            <section id="regestrision">
                <h2>Join us</h2>
                FORM
            </section>
        </article>
{% endblock %}